n8n-backup/iSQ59pcFepjqmBvC_AfiliadosML.json
{
  "updatedAt": "2026-06-04T04:07:30.751Z",
  "createdAt": "2026-05-30T21:55:06.271Z",
  "id": "iSQ59pcFepjqmBvC",
  "name": "AfiliadosML",
  "description": "",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        -528
      ],
      "id": "1b5ee0d8-8a98-432d-a785-8e39242a7250",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
          "mode": "list",
          "cachedResultName": "Reviews ML",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "access_token": "={{ $('Refresh Token').item.json.access_token }}",
            "refresh_token": "={{ $('Refresh Token').item.json.refresh_token }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        -528
      ],
      "id": "8aff5faf-fd25-4893-9a7b-b5a61a1d0d2d",
      "name": "Put Tokens",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mczXnfHtxMCtnhKP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
          "mode": "list",
          "cachedResultName": "Reviews ML",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        -528
      ],
      "id": "904d763c-a852-46fb-9ad6-f8958188d69b",
      "name": "Get tokens",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mczXnfHtxMCtnhKP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.mercadolibre.com/oauth/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $env.ML_CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $env.ML_CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.refresh_token }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        -528
      ],
      "id": "584be363-92d6-4ff1-899b-c78b34ed9070",
      "name": "Refresh Token"
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/products/{{ $('Get Data ML').item.json.id }}/items?limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        0
      ],
      "id": "5a3a1fae-b142-446e-a3b3-5bbd6db6c54a",
      "name": "Get Item Sellers"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "fc929295-2768-4c57-9d7e-155d27076cec",
      "name": "Split Sellers"
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/users/{{ $json.seller_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        224
      ],
      "id": "216901f2-f8b2-4449-baa6-27e629b32c4c",
      "name": "Get Seller Reputation"
    },
    {
      "parameters": {
        "jsCode": "const sellerData = items.map(item => item.json);\nconst itemSellers = $('Get Item Sellers').all().map(i => i.json.results).flat();\n\nconst active = sellerData.filter(s => s.status?.site_status === 'active');\n\nconst scored = active.map(s => {\n  const rep = s.seller_reputation;\n  const levelScore = {'5_green':5,'4_light_green':4,'3_yellow':3,'2_orange':2,'1_red':1}[rep?.level_id] || 0;\n  const powerScore = rep?.power_seller_status ? 1 : 0;\n  const salesScore = rep?.transactions?.completed || 0;\n  const itemId = itemSellers.find(is => is.seller_id == s.id)?.item_id;\n  return { ...s, item_id: itemId, score: (levelScore * 1000) + (powerScore * 500) + salesScore };\n});\n\nscored.sort((a, b) => b.score - a.score);\nreturn [{ json: scored[0] }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        224
      ],
      "id": "01737b49-3459-4d59-a2c5-f60e1fccbfa2",
      "name": "Pick Best Seller"
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/reviews/item/{{ $json.item_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        -528
      ],
      "id": "bca6f986-bdad-433e-ab48-b7284f2861d5",
      "name": "Get Reviews ML"
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/products/{{ $('Route Row').first().json.product_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -112,
        0
      ],
      "id": "ac6e1086-cd46-4b4d-92c0-06bcae96c5da",
      "name": "Get Data ML"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/search?part=snippet&q={{ encodeURIComponent((() => {\n  const attrs = ($('Get Data ML').first().json.attributes || []);\n  const getAttr = (n) => (attrs.find(a => a.name === n) || {}).value_name || '';\n  const marca     = getAttr('Marca');\n  const submodelo = getAttr('Submodelo');\n  const modelo    = getAttr('Modelo');\n  const linea     = getAttr('L?nea').replace(/Generaci[o?]n/gi, '').replace(/\\bGen\\b/gi, '').replace(/\\d+[a?]?/g, '').trim();\n  const isCode = (s) => Boolean(s && s.match(/\\d/) && s.match(/-/));\n  const parts = [marca];\n  if (submodelo && !isCode(submodelo)) {\n    parts.push(submodelo);\n  } else if (modelo && !isCode(modelo) && modelo.toLowerCase() !== marca.toLowerCase()) {\n    parts.push(modelo.split(' ')[0]);\n  }\n  if (linea) {\n    const w = linea.split(' ').filter(x => x.length > 2)[0];\n    if (w && !parts.some(p => p.toLowerCase() === w.toLowerCase())) parts.push(w);\n  }\n  parts.push('review an?lisis');\n  return parts.filter(Boolean).join(' ').trim();\n})()) }}&type=video&order=relevance&videoDuration=medium&regionCode=MX&maxResults=20",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.YOUTUBE_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1168,
        -528
      ],
      "id": "af3cab7a-7f15-4a28-ab93-49561388b7a0",
      "name": "Get Videos YT"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://routellm.abacus.ai/v1/chat/completions",
        "sendQuery": false,
        "queryParameters": {
          "parameters": []
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.ABACUS_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1392,
        -256
      ],
      "id": "a84059f1-5377-4585-9932-43aa54117b78",
      "name": "Gemini Generate Article"
    },
    {
      "parameters": {
        "jsCode": "const nombre = $('Get Data ML').first().json.name;\nconst descripcion = $('Get Data ML').first().json.short_description.content;\nconst caracteristicas = $('Get Data ML').first().json.main_features.map(f => f.text).join(', ');\nconst opiniones = $('Get Reviews ML').first().json.reviews.map(r => r.content).filter(Boolean).join(' | ');\nconst bloqueVideos = $('Transcripciones').first().json.bloque_videos;\n\n// ── Datos de nodos v3 (con fallback seguro si el nodo falló) ──────────────\nlet preguntasML = '';\ntry {\n  const qs = ($('Get ML Questions').first().json.questions || [])\n    .filter(q => q.answer && q.answer.text && q.text && q.text.length > 10)\n    .slice(0, 8);\n  if (qs.length > 0) {\n    preguntasML = qs.map(q => `P: ${q.text.trim()}\\nR: ${q.answer.text.trim()}`).join('\\n\\n');\n  }\n} catch(e) { preguntasML = ''; }\n\nlet similaresMl = '';\ntry {\n  const currentId = $('Get Data ML').first().json.id;\n  const results = ($('Get Similar Products').first().json.results || [])\n    .filter(it => it.id !== currentId && it.title && it.price)\n    .slice(0, 4);\n  if (results.length > 0) {\n    similaresMl = results.map(it =>\n      `- ${it.title} | $${(it.price||0).toLocaleString('es-MX')} MXN`\n    ).join('\\n');\n  }\n} catch(e) { similaresMl = ''; }\n\n\n\nconst idioma = ($('Route Row').first().json.idioma || 'es').toLowerCase();\nconst LANGS = { es: 'español', en: 'inglés (English)', ja: 'japonés (日本語)' };\nconst lang = LANGS[idioma] || 'español';\n\nconst prompt = `Eres un periodista de tecnología ESCÉPTICO e independiente que escribe para un blog de reviews en México. NO trabajas para la marca. Tu trabajo es ayudar al lector a decidir, no a vender. Tu credibilidad depende de ser honesto sobre lo bueno Y lo malo.\n\nIDIOMA DE SALIDA: escribe TODOS los textos (artículo, títulos, veredicto, pros, contras, etc.) en ${lang}. Solo las CLAVES del JSON quedan en inglés tal cual se especifican abajo.\n\nALCANCE — SOLO EL PRODUCTO (muy importante): ignora por completo las opiniones sobre envío, empaque, embalaje, protección de la caja, demoras, atención o trato del vendedor, garantía o devoluciones. Eso es logística de Mercado Libre / del vendedor, NO del producto. Analiza ÚNICAMENTE atributos intrínsecos del producto (pantalla, batería, rendimiento, audio, construcción, ergonomía, software, conectividad, etc.). NO generes pros, contras, sub_scores ni opiniones_destacadas sobre logística, empaque o vendedor.\n\nREGLAS DE ESTILO (obligatorias):\n- PROHIBIDO el lenguaje de folleto: nada de \"deslumbrante\", \"joya de la corona\", \"revolucionario\", \"arsenal de mejoras\". Escribe como alguien que ya lo usó.\n- Apóyate en las FUENTES, pero PARAFRASEA SIEMPRE. PROHIBIDO copiar frases textuales de las opiniones de compradores o de las transcripciones (derechos de terceros). Reescribe cada idea con tus propias palabras; nada de comillas con texto literal ajeno.\n- REGLA DURA para el articulo_html: JAMÁS pongas entre comillas (\" \") frases dichas por compradores. Ejemplo: si un comprador dijo \"no es más potente ni en procesamiento ni gráficamente\", vos escribís: los compradores advierten que el rendimiento es idéntico al modelo anterior. Reformulá con sinónimos y estructura propia. (La descripción del FABRICANTE sí la podés citar.)\n- Atribución: a los videos cítalos por canal (\"según [canal]...\"); a los compradores SIEMPRE de forma agregada (\"los compradores coinciden en...\", \"varios mencionan...\"), sin reproducir su redacción original.\n- Los CONTRAS deben ser concretos y reales, extraídos de las fuentes. NO los suavices.\n- NUNCA inventes cifras de laboratorio (horas exactas de batería, nits, dB) que no estén en las fuentes. Si no hay dato medido, habla cualitativamente.\n- Si las opiniones disponibles son todas positivas, dilo explícitamente; no finjas un balance que no tienes.\n\nDATOS DEL PRODUCTO:\nNOMBRE: ${nombre}\nDESCRIPCIÓN DEL FABRICANTE (trátala como marketing, con escepticismo): ${descripcion}\nCARACTERÍSTICAS: ${caracteristicas}\n\nFUENTES REALES (priorízalas por encima del marketing):\nOPINIONES DE COMPRADORES VERIFICADOS: ${opiniones}\n\nANÁLISIS EN VIDEO DE CREADORES INDEPENDIENTES:\nINSTRUCCION CRITICA SOBRE LOS VIDEOS: Compara el titulo de cada video con el nombre del producto que estas analizando. Si algún video es de un modelo SIMILAR pero NO exactamente el mismo (ej: el producto es \"VivoBook 16 Ultra 5 X1607CA\" pero el video es de un \"VivoBook 15\" o \"VivoBook S16\"), DEBES mencionarlo claramente en el articulo, por ejemplo: \"Las reseñas en video disponibles corresponden a modelos similares de la línea [Línea] — las conclusiones son orientativas pero pueden variar respecto a este modelo específico.\" Si los videos SÍ son del modelo exacto, no hace falta aclararlo.\n${bloqueVideos}\n\nESTRUCTURA DEL ARTÍCULO (~800 palabras, markdown): 1) Veredicto rápido honesto, 2) Qué es y qué cambió (compara vs. el modelo anterior si las fuentes lo mencionan), 3) Lo bueno con evidencia, 4) Lo malo / a tener en cuenta concreto, 5) Para quién sí / para quién no, 6) Conclusión con CTA para comprar en Mercado Libre.\n\nFORMATO DEL ARTICULO (articulo_html): USA HTML LIMPIO EXCLUSIVAMENTE. NUNCA uses markdown (ni ##, ni **, ni * para listas, ni guiones de lista). Los titulos de seccion van en <h2>. Los sub-titulos en <h3>. Parrafos en <p>. Listas en <ul><li>. Negritas en <strong>. Cursivas en <em>. CRITICO: jamas escribas un titulo de seccion como texto plano dentro de un <p>; siempre usa <h2> o <h3>.\n\nINSTRUCCIONES DE FORMATO - MUY IMPORTANTE:\nResponde UNICAMENTE con un objeto JSON valido. Sin texto antes ni despues. Sin bloques markdown. Estructura exacta:\n\n{\"editorial_score\": <0-10 con un decimal>, \"score_justificacion\": \"<1 frase con evidencia>\", \"sub_scores\": [{\"dimension\": \"<ej: Pantalla>\", \"score\": <0-10>, \"justificacion\": \"<1 frase citando evidencia>\"}], \"veredicto_corto\": \"<2-3 frases para alguien con prisa>\", \"compralo_si\": [\"<max 8 palabras>\",\"<...>\",\"<...>\"], \"saltatelo_si\": [\"<max 8 palabras>\",\"<...>\"], \"pros\": [\"<concreto y verificable>\"], \"contras\": [\"<concreto, de las fuentes>\"], \"fuentes_citadas\": [{\"tipo\":\"<video|compradores>\",\"autor\":\"<canal o 'compradores ML'>\",\"aporte\":\"<que aporto>\"}], \"opiniones_destacadas\": [{\"aspecto\":\"<tema corto>\",\"resumen\":\"<parafraseo con TUS palabras, sin texto literal>\",\"sentimiento\":\"<positivo|negativo|mixto>\"}], \"seo_title\": \"<50-60 caracteres>\", \"seo_description\": \"<140-155 caracteres>\", \"articulo_html\": \"<articulo completo con \\\\n escapados>\"}\n\nREGLA CRITICA sub_scores: asigna una dimension SOLO si las fuentes te dan evidencia real. Cada una lleva justificacion citando la evidencia. Si no hay evidencia, OMITE la dimension, no la inventes.\n\nOPINIONES DESTACADAS: genera 3-5 en \"opiniones_destacadas\", PARAFRASEADAS con tus propias palabras (NUNCA texto literal del comprador). Mezcla positivas y criticas (incluye al menos una negativa si existe). Cada una: aspecto (tema corto), resumen (1-2 frases tuyas), sentimiento (positivo|negativo|mixto).\n\nPREGUNTAS FRECUENTES (FAQ): tienes disponibles las siguientes preguntas reales de compradores en ML:\n${preguntasML || '(sin preguntas disponibles)'}\n\nBasándote en esas preguntas Y en las opiniones de compradores y los videos disponibles, genera entre 3 y 5 FAQ que respondan las dudas reales que tiene un comprador serio antes de comprar. Elige preguntas sobre rendimiento, compatibilidad, durabilidad, relación precio-calidad o casos de uso específicos. IGNORA preguntas de logística, envío, garantía del vendedor, colores disponibles o disponibilidad de stock. Si no hay evidencia suficiente para responder una pregunta con honestidad, no la incluyas. Campo \"faq\": array de objetos con \"pregunta\" y \"respuesta\".\n\nANÁLISIS PRECIO-VALOR: en el campo \"precio_valor\", escribe 2-3 frases respondiendo directamente \"¿Vale la pena a este precio?\". Compara lo que ofrece el producto con lo que cuesta. Sé directo: si es caro para lo que da, dilo claramente. Si es buen valor, justifícalo con evidencia concreta de las fuentes. No menciones el precio exacto (puede variar), habla en términos relativos (caro, accesible, competitivo, etc.).\n\nALTERNATIVAS EDITORIALES: los siguientes productos aparecen en ML en rango de precio similar:\n${similaresMl || '(sin datos de competencia)'}\n\nUsando esa referencia, en el campo \"alternativas\", sugiere exactamente 2 opciones sin inventar marcas o modelos específicos:\n- Primera: tipo \"Opción más económica\" — describe qué tipo de producto buscar con menor presupuesto y qué se sacrifica respecto a este modelo.\n- Segunda: tipo \"Opción premium\" — describe qué se gana gastando más y en qué situaciones vale la pena el gasto extra.`;\n\n// OpenAI-compatible JSON Schema v3 — Abacus RouteLLM (claude-sonnet-4-6)\nconst jsonSchema = {\n  type: \"object\",\n  properties: {\n    editorial_score:     { type: \"number\" },\n    score_justificacion: { type: \"string\" },\n    sub_scores: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { dimension:{type:\"string\"}, score:{type:\"number\"}, justificacion:{type:\"string\"} },\n        required: [\"dimension\",\"score\",\"justificacion\"],\n        additionalProperties: false\n      }\n    },\n    veredicto_corto: { type: \"string\" },\n    compralo_si:     { type: \"array\", items: { type: \"string\" } },\n    saltatelo_si:    { type: \"array\", items: { type: \"string\" } },\n    pros:            { type: \"array\", items: { type: \"string\" } },\n    contras:         { type: \"array\", items: { type: \"string\" } },\n    fuentes_citadas: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { tipo:{type:\"string\"}, autor:{type:\"string\"}, aporte:{type:\"string\"} },\n        required: [\"tipo\",\"autor\",\"aporte\"],\n        additionalProperties: false\n      }\n    },\n    opiniones_destacadas: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { aspecto:{type:\"string\"}, resumen:{type:\"string\"}, sentimiento:{type:\"string\"} },\n        required: [\"aspecto\",\"resumen\",\"sentimiento\"],\n        additionalProperties: false\n      }\n    },\n    faq: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { pregunta:{type:\"string\"}, respuesta:{type:\"string\"} },\n        required: [\"pregunta\",\"respuesta\"],\n        additionalProperties: false\n      }\n    },\n    precio_valor: { type: \"string\" },\n    alternativas: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { tipo:{type:\"string\"}, descripcion:{type:\"string\"} },\n        required: [\"tipo\",\"descripcion\"],\n        additionalProperties: false\n      }\n    },\n    seo_title:       { type: \"string\" },\n    seo_description: { type: \"string\" },\n    articulo_html:   { type: \"string\" }\n  },\n  required: [\n    \"editorial_score\",\"score_justificacion\",\"sub_scores\",\"veredicto_corto\",\n    \"compralo_si\",\"saltatelo_si\",\"pros\",\"contras\",\"fuentes_citadas\",\n    \"opiniones_destacadas\",\"faq\",\"precio_valor\",\"alternativas\",\n    \"seo_title\",\"seo_description\",\"articulo_html\"\n  ],\n  additionalProperties: false\n};\n\nreturn [{\n  json: {\n    body: JSON.stringify({\n      model: \"claude-sonnet-4-6\",\n      messages: [{ role: \"user\", content: prompt }],\n      temperature: 0.2,\n      response_format: {\n        type: \"json_schema\",\n        json_schema: { name: \"review_output\", strict: true, schema: jsonSchema }\n      }\n    })\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -256
      ],
      "id": "944acde7-4624-4ddd-96f5-a8e11898b46d",
      "name": "Build Gemini Prompt"
    },
    {
      "parameters": {
        "jsCode": "// Gemini ya emite articulo_html directamente. Solo desescapamos y limpiamos.\nlet html = ($('Parse Gemini JSON').first().json.articulo_html || '').toString();\nhtml = html.replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '').trim();\n// Sacar h2/h3 que Gemini metio dentro de un p\nhtml = html\n  .replace(/<p>\\s*(<h[1-6][^>]*>)/gi, '$1')\n  .replace(/(<\\/h[1-6]>)\\s*<\\/p>/gi, '$1');\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        0
      ],
      "id": "5c4db5a2-8e2b-4fe3-959d-afd9e968ff15",
      "name": "Convert to HTML"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices[0].message.content;\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  throw new Error('Abacus parse error: ' + e.message + ' | Raw: ' + raw.substring(0, 200));\n}\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        0
      ],
      "id": "bea74d95-9d2c-4ff5-a3c9-40e17b6d4851",
      "name": "Parse Gemini JSON"
    },
    {
      "parameters": {
        "jsCode": "const item = $('Get Data ML').first().json;\nconst parsedGemini = $('Parse Gemini JSON').first().json;\nconst htmlNode = $('Convert to HTML').first().json;\nconst bestSeller = $('Pick Best Seller').first().json;\nconst reviews = $('Get Reviews ML').first().json;\nconst videos = $('Top videos').first().json.items;\n\n// Precio\nlet precioActual = null, precioOriginal = null, descuentoPct = 0, garantia = null, envioGratis = false;\ntry {\n  const sellers = $('Get Item Sellers').first().json.results;\n  const sellerItem = sellers.find(s => s.item_id === bestSeller.item_id) || sellers[0];\n  precioActual = sellerItem.price;\n  precioOriginal = sellerItem.original_price || sellerItem.price;\n  descuentoPct = precioOriginal > precioActual ? Math.round((1 - precioActual / precioOriginal) * 100) : 0;\n  garantia = sellerItem.warranty;\n  envioGratis = sellerItem.shipping?.free_shipping || false;\n} catch(e) {}\n\n// Specs\nconst specs = {};\nfor (const attr of item.attributes) specs[attr.name] = attr.value_name;\n\n// ?? SLUG LIMPIO ????????????????????????????????????????????????????????????\n// Usa Marca + Modelo (si es texto, no c?digo) + L?nea + Submodelo\n// Evita specs num?ricas, colores, condiciones y palabras gen?ricas del nombre\nconst getAttr = (n) => (item.attributes.find(a => a.name === n) || {}).value_name || '';\nconst slugify = (s) => (s || '').toLowerCase()\n  .normalize('NFD').replace(/[̀-ͯ]/g, '')\n  .replace(/[^a-z0-9\\s]/g, '').trim()\n  .replace(/\\s+/g, '-');\n// Detecta c?digos alfanum?ricos de modelo (ej: X1607CA, 890101-0100)\n// Sin flag 'i' para que \"Switch\", \"OLED\", \"Ultra\" no sean tratados como c?digos\nconst isCode = (s) => Boolean(s && ((/\\d/.test(s) && /-/.test(s)) || /^[A-Z0-9]{5,}$/.test(s)));\nconst isMeaningful = (s) => Boolean(s && s.length > 2 && !/^\\d+$/.test(s) && !isCode(s));\n\nconst marca     = getAttr('Marca');\nconst modelo    = getAttr('Modelo');\nconst submodelo = getAttr('Submodelo');\nconst linea     = getAttr('L?nea');\n\nconst slugParts = [marca];\n\n// Modelo solo si es texto legible (Switch, Pro, Air...) no un c?digo alfanum?rico\nif (isMeaningful(modelo) && slugify(modelo) !== slugify(marca)) {\n  slugParts.push(modelo);\n}\n\n// L?nea: primeras 2 palabras significativas (sin \"Generaci?n\", \"Gen\")\nif (linea) {\n  const cleanWords = linea.split(/\\s+/)\n    .filter(w => isMeaningful(w) && !/^(generaci[o?]n|gen)$/i.test(w))\n    .slice(0, 2);\n  slugParts.push(...cleanWords);\n}\n\n// Submodelo si es legible (OLED, Pro, Air, Ultra...) no un c?digo\nif (isMeaningful(submodelo) && !isCode(submodelo)) {\n  slugParts.push(submodelo);\n}\n\n// Si sigue siendo muy corto, agregar palabras clave del nombre del producto\nconst noiseWords = new Set([\n  'laptop','notebook','consola','audifonos','auriculares','headphones',\n  'con','y','de','la','el','para','un','una','los','las',\n  'gb','tb','ssd','hdd','ram','mhz','ghz','fps','hz',\n  'nuevo','reacondicionado','excelente','bueno','muy',\n  'negro','blanco','rojo','azul','dorado','plateado','neon','silver','gold',\n  'mochila','mouse','incluye','incluido','kit','combo',\n  'inalambrico','bluetooth','wifi','usb','hdmi','type',\n  'gen','generacion','edicion','edition','series','version',\n  'gaming','gamer','pro','plus','max','mini','lite','air',\n  'ultrabook','slim','thin','portable',\n]);\n\nif (slugParts.filter(Boolean).length < 3) {\n  const nameWords = item.name.toLowerCase()\n    .normalize('NFD').replace(/[̀-ͯ]/g, '')\n    .replace(/[^a-z0-9\\s]/g, '').split(/\\s+/)\n    .filter(w => w.length > 2 && !/^\\d/.test(w) && !noiseWords.has(w));\n\n  // Separar \"switch-2\" en [\"switch\",\"2\"] para detectar duplicados correctamente\n  const existing = new Set(slugParts.map(p => slugify(p)).flatMap(s => s.split('-')).filter(Boolean));\n  for (const w of nameWords) {\n    if (!existing.has(w) && slugParts.length < 5) {\n      slugParts.push(w);\n      existing.add(w);\n    }\n  }\n}\n\nconst slug = slugParts\n  .filter(Boolean)\n  .map(slugify)\n  .join('-')\n  .replace(/-+/g, '-')\n  .slice(0, 60);\n\n// ?? OPINIONES DESTACADAS ???????????????????????????????????????????????????\n// Solo mostrar si hay reviews reales de compradores en ML.\n// Si no hay (total=0), Gemini las inventa de los videos ? misleading ? vaciar.\nconst totalReviews = reviews.paging.total;\nconst reviewsDestacadas = totalReviews > 0\n  ? (parsedGemini.opiniones_destacadas || []).map(o => ({\n      titulo:     o.aspecto,\n      contenido:  o.resumen,\n      sentimiento: o.sentimiento || 'mixto',\n    }))\n  : [];\n\n// Videos\nconst videosYT = videos.map(v => ({\n  video_id:  v.id.videoId,\n  titulo:    v.snippet.title,\n  canal:     v.snippet.channelTitle,\n  url:       `https://www.youtube.com/watch?v=${v.id.videoId}`,\n  thumbnail: v.snippet.thumbnails.high.url,\n  publicado: v.snippet.publishedAt.split('T')[0],\n  vistas:    parseInt(v.statistics?.viewCount || '0', 10),\n}));\n\nconst numVids = $('Transcripciones').first().json.num_videos_con_transcripcion;\n\nreturn [{ json: {\n  meta: {\n    producto_id: item.id,\n    slug,\n    categoria: item.domain_id,\n    generado_en: new Date().toISOString(),\n  },\n  producto: {\n    nombre:   item.name,\n    marca:    specs['Marca'] || null,\n    modelo:   specs['Modelo'] || null,\n    descripcion: item.short_description.content,\n    caracteristicas_principales: item.main_features.map(f => f.text.trim()),\n    specs,\n    imagenes: item.pictures.map(p => p.url),\n  },\n  precio: {\n    actual:        precioActual,\n    original:      precioOriginal,\n    descuento_pct: descuentoPct,\n    moneda:        'MXN',\n    envio_gratis:  envioGratis,\n    garantia,\n  },\n  vendedor: {\n    item_id:      bestSeller.item_id,\n    nombre:       bestSeller.nickname,\n    reputacion:   bestSeller.seller_reputation?.level_id || null,\n    power_seller: bestSeller.seller_reputation?.power_seller_status || null,\n    transacciones: bestSeller.seller_reputation?.transactions?.total || null,\n  },\n  link_afiliado: ($('Route Row').first().json.referido || null),\n  reviews_ml: {\n    total:                totalReviews,\n    con_comentario:       reviews.paging.reviews_with_comment,\n    calificacion_promedio: reviews.rating_average,\n    destacadas:           reviewsDestacadas,\n  },\n  videos_yt: videosYT,\n  editorial: {\n    score:             parsedGemini.editorial_score,\n    score_justificacion: parsedGemini.score_justificacion || null,\n    sub_scores:        parsedGemini.sub_scores || [],\n    veredicto_corto:   parsedGemini.veredicto_corto || parsedGemini.seo_description,\n    compralo_si:       parsedGemini.compralo_si || [],\n    saltatelo_si:      parsedGemini.saltatelo_si || [],\n    pros:              parsedGemini.pros || [],\n    contras:           parsedGemini.contras || [],\n    fuentes_citadas:   parsedGemini.fuentes_citadas || [],\n    faq:           parsedGemini.faq || [],\n    precio_valor:  parsedGemini.precio_valor || null,\n    alternativas:  parsedGemini.alternativas || [],\n    seo_title:         parsedGemini.seo_title,\n    seo_description:   parsedGemini.seo_description,\n    articulo_html:     htmlNode.html,\n  },\n  productos_similares_ml: (() => {\n    try {\n      const currentId = $('Get Data ML').first().json.id;\n      return ($('Get Similar Products').first().json.results || [])\n        .filter(it => it.id !== currentId && it.title && it.price)\n        .slice(0, 5)\n        .map(it => ({\n          id:             it.id,\n          titulo:         it.title,\n          precio:         it.price,\n          precio_original: it.original_price || it.price,\n          thumbnail:      it.thumbnail ? it.thumbnail.replace('http://', 'https://') : null,\n          permalink:      it.permalink,\n          envio_gratis:   it.shipping?.free_shipping || false,\n        }));\n    } catch(e) { return []; }\n  })(),\n  autoria: {\n    nombre:    'Hito Flores',\n    tagline:   'An?lisis independiente de productos en Mercado Libre M?xico',\n    metodologia: (() => {\n      // Detectar si los videos son del modelo exacto o de modelos similares\n      const prodTokens = [getAttr('Submodelo'), modelo, linea.split(' ')[0]]\n        .filter(t => t && t.length > 2 && !isCode(t))\n        .map(t => t.toLowerCase());\n      const esSimilar = videosYT.length > 0 && prodTokens.length > 0 &&\n        !videosYT.some(v => prodTokens.some(t => v.titulo.toLowerCase().includes(t)));\n      const lineaCorta = [marca, linea.split(' ').slice(0,2).join(' ')].filter(Boolean).join(' ').trim();\n      return esSimilar\n        ? `Este an?lisis sintetiza ${numVids} rese?as de modelos similares de la l?nea ${lineaCorta} y ${totalReviews} opiniones de compradores verificados de Mercado Libre.`\n        : `Este an?lisis sintetiza ${numVids} rese?as en video de creadores independientes y ${totalReviews} opiniones de compradores verificados de Mercado Libre.`;\n    })(),\n    actualizado: new Date().toISOString().slice(0, 10),\n  },\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        0
      ],
      "id": "df9c2a23-3d8a-4abf-aad4-fd07971aeeaf",
      "name": "Build Final JSON"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/HitoFlores/AfiliadosML/contents/data/{{$json.meta.slug}}.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        224
      ],
      "id": "6a6e0ca3-588f-4dbf-ace2-afbf6028abac",
      "name": "GitHub GET SHA",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Build Final JSON').first().json;\nconst sha = $('GitHub GET SHA').first().json?.sha || undefined;\nconst content = Buffer.from(JSON.stringify(data, null, 2)).toString('base64');\n\nconst body = { message: `feat: review ${data.meta.slug}`, content };\nif (sha) body.sha = sha;\n\nconst result = await this.helpers.httpRequest({\n  method: 'PUT',\n  url: `https://api.github.com/repos/HitoFlores/AfiliadosML/contents/data/${data.meta.slug}.json`,\n  headers: {\n    'Authorization': 'Bearer ' + $env.GITHUB_TOKEN,\n    'Accept': 'application/vnd.github+json',\n    'X-GitHub-Api-Version': '2022-11-28',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify(body)\n});\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        224
      ],
      "id": "920e6f4f-ac8e-45f6-98ea-7b35b4ce6d8f",
      "name": "Prepare GitHub Payload"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/HitoFlores/AfiliadosML/contents/data/{{$json.slug}}.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=={{$json.message}}"
            },
            {
              "name": "content",
              "value": "=={{$json.content}}"
            },
            {
              "name": "sha",
              "value": "=={{$json.sha}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        672
      ],
      "id": "2c920a60-9e39-456a-a029-aede9c38f69d",
      "name": "GitHub Commit JSON",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3eYPnNCiPrpr5Qw9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Top videos v2: marca requerida + prioriza reviews reales sobre gameplay/tests destructivos\nconst API_KEY = $env.YOUTUBE_API_KEY;\n\nconst attrs = $('Get Data ML').first().json.attributes || [];\nconst getAttr = (n) => (attrs.find((a) => a.name === n) || {}).value_name || '';\n\nconst marca     = getAttr('Marca').toLowerCase().trim();\nconst submodelo = getAttr('Submodelo').toLowerCase().trim();\nconst modelo    = getAttr('Modelo').toLowerCase().trim();\nconst linea     = getAttr('Linea')\n  .replace(/Generacion/gi, '').replace(/Gen/gi, '').replace(/\\d+/g, '').toLowerCase().trim();\n\nconst isCode = (s) => Boolean(s && s.match(/\\d/) && s.match(/-/));\n\nconst relevanceTokens = [\n  submodelo && !isCode(submodelo) ? submodelo : null,\n  !isCode(modelo) && modelo !== marca ? modelo.split(' ')[0] : null,\n  linea ? linea.split(/\\s+/).find(w => w.length > 2) || null : null,\n].filter(Boolean);\n\nconst search = $('Get Videos YT').first().json.items || [];\n\n// Terminos que indican review/analisis real (el tipo de contenido que queremos)\nconst REVIEW_TERMS = [\n  'review', 'analisis', 'an?lisis', 'rese?a', 'resena',\n  'vale la pena', 'hands on', 'comparativa', 'comparacion', 'comparaci?n',\n  'opinion', 'opini?n', 'should you buy', 'is it worth', 'first look',\n  'unboxing', 'vs ', ' vs', 'overview', 'prueba', 'test de',\n];\n\n// Terminos que indican contenido NO-review (gameplay, tests destructivos, entretenimiento)\nconst NON_REVIEW_TERMS = [\n  'gameplay', 'playthrough', \"let's play\", 'lets play',\n  'scratch test', 'drop test', 'bend test', 'durability test',\n  'teardown', 'tear down', 'disassembly', 'water test',\n  'torture test', 'speed test', 'speed run',\n  'relaxing', 'asmr', 'satisfying', 'satisfaccion',\n  'partida', 'walkthrough', 'longplay', 'full game',\n  'highlights', 'shorts',\n];\n\nconst scored = search.map((v) => {\n  const title   = (v.snippet.title || '').toLowerCase();\n  const fullTxt = title + ' ' + (v.snippet.description || '').toLowerCase();\n\n  // La marca DEBE aparecer en titulo o descripcion\n  if (!fullTxt.includes(marca)) return null;\n\n  // +N por tokens del producto en el titulo\n  const productBonus = relevanceTokens.filter(t => title.includes(t)).length;\n\n  // +2 si el titulo contiene terminos de review real\n  // -2 si contiene terminos de contenido no-review\n  const isReview    = REVIEW_TERMS.some(t => title.includes(t));\n  const isNonReview = NON_REVIEW_TERMS.some(t => title.includes(t));\n  const reviewBonus = isReview ? 2 : (isNonReview ? -2 : 0);\n\n  return {\n    ...v,\n    _relevance:   productBonus,\n    _reviewBonus: reviewBonus,\n    _total:       productBonus + reviewBonus,\n  };\n}).filter(Boolean);\n\n// Fallback si ningun video menciona la marca\nconst pool = scored.length\n  ? scored\n  : search.map(v => ({ ...v, _relevance: 0, _reviewBonus: 0, _total: 0 }));\n\nconst ids = pool.map((v) => v.id && v.id.videoId).filter(Boolean);\nconst stats = {};\nif (ids.length) {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://www.googleapis.com/youtube/v3/videos',\n    qs: { part: 'statistics', id: ids.join(','), key: API_KEY },\n    json: true,\n  });\n  for (const it of (res.items || [])) stats[it.id] = it.statistics || {};\n}\n\nconst ranked = pool\n  .map((v) => {\n    const st = stats[v.id.videoId] || {};\n    return { ...v, statistics: st, _views: parseInt(st.viewCount || '0', 10) };\n  })\n  .sort((a, b) => {\n    // 1ro: score total (relevancia de producto + bonus review)\n    // 2do: vistas (solo como desempate entre videos del mismo score)\n    if (b._total !== a._total) return b._total - a._total;\n    return b._views - a._views;\n  })\n  .slice(0, 3);\n\nreturn [{ json: { items: ranked } }];\n"
      },
      "id": "a01a178f-2b8e-4c29-b1c3-d502892c1cea",
      "name": "Top videos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transcripciones - baja los subt?tulos de los top videos v?a Supadata\nconst API_KEY = $env.SUPADATA_API_KEY; // variable de entorno (no hardcodeada)\nconst videos = $('Top videos').first().json.items || [];\n\nconst partes = [];\nlet conTranscripcion = 0;\n\nfor (let i = 0; i < videos.length; i++) {\n  const v = videos[i].snippet || {};\n  const id = videos[i].id.videoId;\n  let transcript = '';\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://api.supadata.ai/v1/youtube/transcript',\n      qs: { videoId: id, text: 'true', lang: 'es' },\n      headers: { 'x-api-key': API_KEY },\n      json: true,\n    });\n    transcript = (res.content || '').toString().slice(0, 6000); // cap tokens\n  } catch (e) {\n    transcript = ''; // sin subt?tulos -> seguimos sin romper\n  }\n  if (transcript) conTranscripcion++;\n  const cuerpo = transcript\n    ? transcript\n    : `(sin transcripci?n disponible) Descripci?n: ${v.description || 'n/d'}`;\n  partes.push(\n    `VIDEO ${i + 1}\\nCANAL: ${v.channelTitle}\\nT?TULO: ${v.title}\\nCONTENIDO: ${cuerpo}`\n  );\n}\n\nreturn [{ json: {\n  bloque_videos: partes.join('\\n\\n---\\n\\n'),\n  num_videos_con_transcripcion: conTranscripcion\n}}];\n"
      },
      "id": "e31225ab-a47d-494a-b183-3302cf106b41",
      "name": "Transcripciones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -256
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
          "mode": "list",
          "cachedResultName": "Reviews ML",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1072849850,
          "mode": "list",
          "cachedResultName": "articulos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=1072849850"
        },
        "options": {}
      },
      "id": "2da8f139-0fad-4ae0-ba13-e55892ac73b4",
      "name": "Get Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        -256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mczXnfHtxMCtnhKP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Route Row: elige la fila a procesar.\n// Si el articulo es meli.la/xxx, resuelve el link social de ML para extraer el MLM catalog ID.\nconst rows = $('Get Queue').all().map((i) => i.json);\nconst norm = (s) => (s || '').toString().trim().toLowerCase();\n\nconst pick =\n  rows.find((r) => norm(r.estatus) === 'ready') ||\n  rows.find((r) => norm(r.estatus) === 'pending');\n\nif (!pick) return [];\n\nlet link    = (pick.articulo || '').toString();\nlet product_id = '';\n\n// ?? Caso 1: link corto meli.la ? resolver pagina social de ML ??????????????\nif (link.includes('meli.la/')) {\n  try {\n    // Paso 1: seguir el redirect de meli.la ? llega a /social/rulloco?...\n    const r1 = await this.helpers.httpRequest({\n      method: 'GET', url: link,\n      followRedirects: true, returnFullResponse: true, ignoreResponseCode: true,\n    });\n    const socialUrl = r1.requestOptions?.uri?.href || link;\n\n    // Paso 2: si llego a /social/..., bajar la pagina y extraer el primer MLM ID\n    if (socialUrl.includes('mercadolibre')) {\n      const r2 = await this.helpers.httpRequest({\n        method: 'GET', url: socialUrl,\n        followRedirects: true, ignoreResponseCode: true,\n      });\n      const html = typeof r2 === 'string' ? r2 : JSON.stringify(r2);\n\n      // El primer MLM ID en el HTML es el producto destacado (featured card)\n      const firstMlm = html.match(/MLM[0-9]{6,}/);\n      if (firstMlm) {\n        product_id = firstMlm[0].toUpperCase();\n        link = 'https://www.mercadolibre.com.mx/p/' + product_id;\n      }\n    }\n  } catch(e) {\n    // Si falla la resolucion, product_id queda vacio y el pipeline lo manejara\n  }\n}\n\n// ?? Caso 2: link directo con MLM en la URL ??????????????????????????????????\nif (!product_id) {\n  const m = link.match(/\\/p\\/(ML[A-Z]?[0-9]+)/i) || link.match(/(ML[A-Z][0-9]{6,})/i);\n  product_id = m ? m[1].toUpperCase() : '';\n}\n\nconst estatus = norm(pick.estatus);\nreturn [{\n  json: {\n    _pass:      estatus === 'ready' ? 'pass2' : 'pass1',\n    row_number: pick.row_number,\n    product_id,\n    articulo:   link,\n    referido:   (pick.referido || '').toString(),\n    idioma:     ((pick.idioma || 'es').toString().trim() || 'es').toLowerCase(),\n  },\n}];"
      },
      "id": "df7197c7-f52f-48a6-a7cf-b9361b8b409d",
      "name": "Route Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
          "mode": "list",
          "cachedResultName": "Reviews ML",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1072849850,
          "mode": "list",
          "cachedResultName": "articulos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=1072849850"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Route Row').first().json.row_number }}",
            "estatus": "processing"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "articulo",
              "displayName": "articulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "referido",
              "displayName": "referido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idioma",
              "displayName": "idioma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estatus",
              "displayName": "estatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link_sugerido",
              "displayName": "link_sugerido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "procesado_en",
              "displayName": "procesado_en",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_msg",
              "displayName": "error_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "d16f0804-2ae1-40e1-9686-1c41167a4fd6",
      "name": "Mark Processing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        -256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mczXnfHtxMCtnhKP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "40596c3a-a3bc-4e22-887e-16393154e10c",
              "leftValue": "={{ $('Route Row').first().json._pass }}",
              "rightValue": "pass2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a80e12a3-ae46-43ca-be86-e06c4c20f339",
      "name": "Pass Switch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass 1: arma el link del ?tem del mejor vendedor verde para que el due?o\n// genere el referido manualmente.\nconst best = $('Pick Best Seller').first().json;\nconst itemId = (best.item_id || '').toString();\n\n// item_id \"MLM1234567890\" -> URL \"MLM-1234567890\"\nlet link = '';\nif (itemId) {\n  const dashed = itemId.replace(/^(ML[A-Z])/i, '$1-');\n  link = `https://articulo.mercadolibre.com.mx/${dashed}`;\n}\n\nreturn [{\n  json: {\n    link_sugerido: link,\n    vendedor: best.nickname || '',\n    reputacion: best.seller_reputation?.level_id || '',\n  },\n}];\n"
      },
      "id": "eb5fc9ea-0aeb-4fae-86f2-37909fbaba0f",
      "name": "Build Item Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
          "mode": "list",
          "cachedResultName": "Reviews ML",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1072849850,
          "mode": "list",
          "cachedResultName": "articulos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=1072849850"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Route Row').first().json.row_number }}",
            "estatus": "waiting",
            "link_sugerido": "={{ $('Build Item Link').first().json.link_sugerido }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "articulo",
              "displayName": "articulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "referido",
              "displayName": "referido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idioma",
              "displayName": "idioma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estatus",
              "displayName": "estatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link_sugerido",
              "displayName": "link_sugerido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "procesado_en",
              "displayName": "procesado_en",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_msg",
              "displayName": "error_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "8d397d04-d124-4a47-b7c9-b8e64ae38831",
      "name": "Mark Esperando",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mczXnfHtxMCtnhKP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
          "mode": "list",
          "cachedResultName": "Reviews ML",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1072849850,
          "mode": "list",
          "cachedResultName": "articulos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=1072849850"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Route Row').first().json.row_number }}",
            "estatus": "done",
            "slug": "={{ $('Build Final JSON').first().json.meta.slug }}",
            "procesado_en": "={{ $now }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "articulo",
              "displayName": "articulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "referido",
              "displayName": "referido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idioma",
              "displayName": "idioma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estatus",
              "displayName": "estatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link_sugerido",
              "displayName": "link_sugerido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "procesado_en",
              "displayName": "procesado_en",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_msg",
              "displayName": "error_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "972a3613-f278-41e8-913a-92c5b72198c6",
      "name": "Mark Done",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mczXnfHtxMCtnhKP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  chat_id: $env.TELEGRAM_CHAT_ID,\n  text: '?? Encontre el mejor vendedor para:\\n\\n' + $('Get Data ML').first().json.name + '\\n\\nLink del vendedor:\\n' + $('Build Item Link').first().json.link_sugerido + '\\n\\nEntra a ML Partners, genera el link de afiliado para ese vendedor y respondeme con el link ??',\n  reply_markup: { force_reply: true, input_field_placeholder: 'https://meli.la/...' }\n}) }}",
        "options": {}
      },
      "id": "7242a610-9191-4e40-a84b-743e43fc3c11",
      "name": "Notify Esperando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: '\\u2705 Review generada\\n\\n' + $('Build Final JSON').first().json.producto.nombre + '\\nslug: ' + $('Build Final JSON').first().json.meta.slug }) }}",
        "options": {}
      },
      "id": "d46b3eb9-15aa-44f8-a94a-d2303c8f6edc",
      "name": "Notify Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        464
      ]
    },
    {
      "parameters": {},
      "id": "837493c5-7136-41cb-a729-219c6335057c",
      "name": "When called by Poll",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -720
      ]
    },
    {
      "id": "55f7d02f-dc17-492c-ae9e-716c3c993542",
      "name": "Get ML Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1168,
        -528
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "=https://api.mercadolibre.com/questions/search?item={{ $('Get Data ML').first().json.id }}&status=answered&sort_fields=date_created&sort_types=DESC&limit=12",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "30337b11-7729-41ef-ac42-9e6ad562d625",
      "name": "Get Similar Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1392,
        -528
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "=https://api.mercadolibre.com/sites/MLM/search?q={{ encodeURIComponent((($('Get Data ML').first().json.attributes.find(a => a.name === 'Marca') || {}).value_name || '') + ' ' + ($('Get Data ML').first().json.name || '').split(' ').slice(0,2).join(' ')) }}&price={{ Math.round((($('Get Item Sellers').first().json.results || [])[0] || {}).price * 0.75 || 0) }}-{{ Math.round((($('Get Item Sellers').first().json.results || [])[0] || {}).price * 1.35 || 0) }}&sort=relevance&limit=6",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tokens": {
      "main": [
        [
          {
            "node": "Refresh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Put Tokens": {
      "main": [
        [
          {
            "node": "Get Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Token": {
      "main": [
        [
          {
            "node": "Put Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Item Sellers": {
      "main": [
        [
          {
            "node": "Split Sellers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sellers": {
      "main": [
        [
          {
            "node": "Get Seller Reputation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Seller Reputation": {
      "main": [
        [
          {
            "node": "Pick Best Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Best Seller": {
      "main": [
        [
          {
            "node": "Pass Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reviews ML": {
      "main": [
        [
          {
            "node": "Get Videos YT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data ML": {
      "main": [
        [
          {
            "node": "Get Item Sellers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Videos YT": {
      "main": [
        [
          {
            "node": "Top videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt": {
      "main": [
        [
          {
            "node": "Gemini Generate Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Article": {
      "main": [
        [
          {
            "node": "Parse Gemini JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to HTML": {
      "main": [
        [
          {
            "node": "Build Final JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini JSON": {
      "main": [
        [
          {
            "node": "Convert to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final JSON": {
      "main": [
        [
          {
            "node": "GitHub GET SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub GET SHA": {
      "main": [
        [
          {
            "node": "Prepare GitHub Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub Payload": {
      "main": [
        [
          {
            "node": "Mark Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top videos": {
      "main": [
        [
          {
            "node": "Transcripciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcripciones": {
      "main": [
        [
          {
            "node": "Get ML Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Queue": {
      "main": [
        [
          {
            "node": "Route Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Row": {
      "main": [
        [
          {
            "node": "Mark Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Processing": {
      "main": [
        [
          {
            "node": "Get Data ML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Switch": {
      "main": [
        [
          {
            "node": "Get Reviews ML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Item Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Item Link": {
      "main": [
        [
          {
            "node": "Mark Esperando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Esperando": {
      "main": [
        [
          {
            "node": "Notify Esperando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Done": {
      "main": [
        [
          {
            "node": "Notify Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When called by Poll": {
      "main": [
        [
          {
            "node": "Get tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ML Questions": {
      "main": [
        [
          {
            "node": "Get Similar Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Similar Products": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "WNQIZP0Tu3hQGODn"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "81f6a024-3169-46a5-a975-cac74b051f64",
  "activeVersionId": "81f6a024-3169-46a5-a975-cac74b051f64",
  "versionCounter": 574,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-30T21:55:06.273Z",
      "createdAt": "2026-05-30T21:55:06.273Z",
      "role": "workflow:owner",
      "workflowId": "iSQ59pcFepjqmBvC",
      "projectId": "c3FOjVGbvSdJ6jgk",
      "project": {
        "updatedAt": "2026-05-30T21:44:15.931Z",
        "createdAt": "2026-05-30T21:41:26.508Z",
        "id": "c3FOjVGbvSdJ6jgk",
        "name": "Hito Flores <8hitodev6@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d2ec98b9-a94a-48cf-b0dd-c57f014ded2b"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-04T04:07:30.753Z",
    "createdAt": "2026-06-04T04:07:30.753Z",
    "versionId": "81f6a024-3169-46a5-a975-cac74b051f64",
    "workflowId": "iSQ59pcFepjqmBvC",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "days",
                "triggerAtHour": 8
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -400,
          -528
        ],
        "id": "1b5ee0d8-8a98-432d-a785-8e39242a7250",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
            "mode": "list",
            "cachedResultName": "Reviews ML",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": 2,
              "access_token": "={{ $('Refresh Token').item.json.access_token }}",
              "refresh_token": "={{ $('Refresh Token').item.json.refresh_token }}",
              "updated_at": "={{ $now }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "access_token",
                "displayName": "access_token",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "refresh_token",
                "displayName": "refresh_token",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          368,
          -528
        ],
        "id": "8aff5faf-fd25-4893-9a7b-b5a61a1d0d2d",
        "name": "Put Tokens",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "mczXnfHtxMCtnhKP",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
            "mode": "list",
            "cachedResultName": "Reviews ML",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -96,
          -528
        ],
        "id": "904d763c-a852-46fb-9ad6-f8958188d69b",
        "name": "Get tokens",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "mczXnfHtxMCtnhKP",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.mercadolibre.com/oauth/token",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "client_id",
                "value": "={{ $env.ML_CLIENT_ID }}"
              },
              {
                "name": "client_secret",
                "value": "={{ $env.ML_CLIENT_SECRET }}"
              },
              {
                "name": "refresh_token",
                "value": "={{ $json.refresh_token }}"
              },
              {
                "name": "grant_type",
                "value": "refresh_token"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          144,
          -528
        ],
        "id": "584be363-92d6-4ff1-899b-c78b34ed9070",
        "name": "Refresh Token"
      },
      {
        "parameters": {
          "url": "=https://api.mercadolibre.com/products/{{ $('Get Data ML').item.json.id }}/items?limit=10",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          144,
          0
        ],
        "id": "5a3a1fae-b142-446e-a3b3-5bbd6db6c54a",
        "name": "Get Item Sellers"
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          384,
          0
        ],
        "id": "fc929295-2768-4c57-9d7e-155d27076cec",
        "name": "Split Sellers"
      },
      {
        "parameters": {
          "url": "=https://api.mercadolibre.com/users/{{ $json.seller_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -96,
          224
        ],
        "id": "216901f2-f8b2-4449-baa6-27e629b32c4c",
        "name": "Get Seller Reputation"
      },
      {
        "parameters": {
          "jsCode": "const sellerData = items.map(item => item.json);\nconst itemSellers = $('Get Item Sellers').all().map(i => i.json.results).flat();\n\nconst active = sellerData.filter(s => s.status?.site_status === 'active');\n\nconst scored = active.map(s => {\n  const rep = s.seller_reputation;\n  const levelScore = {'5_green':5,'4_light_green':4,'3_yellow':3,'2_orange':2,'1_red':1}[rep?.level_id] || 0;\n  const powerScore = rep?.power_seller_status ? 1 : 0;\n  const salesScore = rep?.transactions?.completed || 0;\n  const itemId = itemSellers.find(is => is.seller_id == s.id)?.item_id;\n  return { ...s, item_id: itemId, score: (levelScore * 1000) + (powerScore * 500) + salesScore };\n});\n\nscored.sort((a, b) => b.score - a.score);\nreturn [{ json: scored[0] }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          224
        ],
        "id": "01737b49-3459-4d59-a2c5-f60e1fccbfa2",
        "name": "Pick Best Seller"
      },
      {
        "parameters": {
          "url": "=https://api.mercadolibre.com/reviews/item/{{ $json.item_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          944,
          -528
        ],
        "id": "bca6f986-bdad-433e-ab48-b7284f2861d5",
        "name": "Get Reviews ML"
      },
      {
        "parameters": {
          "url": "=https://api.mercadolibre.com/products/{{ $('Route Row').first().json.product_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -112,
          0
        ],
        "id": "ac6e1086-cd46-4b4d-92c0-06bcae96c5da",
        "name": "Get Data ML"
      },
      {
        "parameters": {
          "url": "=https://www.googleapis.com/youtube/v3/search?part=snippet&q={{ encodeURIComponent((() => {\n  const attrs = ($('Get Data ML').first().json.attributes || []);\n  const getAttr = (n) => (attrs.find(a => a.name === n) || {}).value_name || '';\n  const marca     = getAttr('Marca');\n  const submodelo = getAttr('Submodelo');\n  const modelo    = getAttr('Modelo');\n  const linea     = getAttr('L?nea').replace(/Generaci[o?]n/gi, '').replace(/\\bGen\\b/gi, '').replace(/\\d+[a?]?/g, '').trim();\n  const isCode = (s) => Boolean(s && s.match(/\\d/) && s.match(/-/));\n  const parts = [marca];\n  if (submodelo && !isCode(submodelo)) {\n    parts.push(submodelo);\n  } else if (modelo && !isCode(modelo) && modelo.toLowerCase() !== marca.toLowerCase()) {\n    parts.push(modelo.split(' ')[0]);\n  }\n  if (linea) {\n    const w = linea.split(' ').filter(x => x.length > 2)[0];\n    if (w && !parts.some(p => p.toLowerCase() === w.toLowerCase())) parts.push(w);\n  }\n  parts.push('review an?lisis');\n  return parts.filter(Boolean).join(' ').trim();\n})()) }}&type=video&order=relevance&videoDuration=medium&regionCode=MX&maxResults=20",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "={{ $env.YOUTUBE_API_KEY }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1168,
          -528
        ],
        "id": "af3cab7a-7f15-4a28-ab93-49561388b7a0",
        "name": "Get Videos YT"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://routellm.abacus.ai/v1/chat/completions",
          "sendQuery": false,
          "queryParameters": {
            "parameters": []
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.ABACUS_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.body }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1392,
          -256
        ],
        "id": "a84059f1-5377-4585-9932-43aa54117b78",
        "name": "Gemini Generate Article"
      },
      {
        "parameters": {
          "jsCode": "const nombre = $('Get Data ML').first().json.name;\nconst descripcion = $('Get Data ML').first().json.short_description.content;\nconst caracteristicas = $('Get Data ML').first().json.main_features.map(f => f.text).join(', ');\nconst opiniones = $('Get Reviews ML').first().json.reviews.map(r => r.content).filter(Boolean).join(' | ');\nconst bloqueVideos = $('Transcripciones').first().json.bloque_videos;\n\n// ── Datos de nodos v3 (con fallback seguro si el nodo falló) ──────────────\nlet preguntasML = '';\ntry {\n  const qs = ($('Get ML Questions').first().json.questions || [])\n    .filter(q => q.answer && q.answer.text && q.text && q.text.length > 10)\n    .slice(0, 8);\n  if (qs.length > 0) {\n    preguntasML = qs.map(q => `P: ${q.text.trim()}\\nR: ${q.answer.text.trim()}`).join('\\n\\n');\n  }\n} catch(e) { preguntasML = ''; }\n\nlet similaresMl = '';\ntry {\n  const currentId = $('Get Data ML').first().json.id;\n  const results = ($('Get Similar Products').first().json.results || [])\n    .filter(it => it.id !== currentId && it.title && it.price)\n    .slice(0, 4);\n  if (results.length > 0) {\n    similaresMl = results.map(it =>\n      `- ${it.title} | $${(it.price||0).toLocaleString('es-MX')} MXN`\n    ).join('\\n');\n  }\n} catch(e) { similaresMl = ''; }\n\n\n\nconst idioma = ($('Route Row').first().json.idioma || 'es').toLowerCase();\nconst LANGS = { es: 'español', en: 'inglés (English)', ja: 'japonés (日本語)' };\nconst lang = LANGS[idioma] || 'español';\n\nconst prompt = `Eres un periodista de tecnología ESCÉPTICO e independiente que escribe para un blog de reviews en México. NO trabajas para la marca. Tu trabajo es ayudar al lector a decidir, no a vender. Tu credibilidad depende de ser honesto sobre lo bueno Y lo malo.\n\nIDIOMA DE SALIDA: escribe TODOS los textos (artículo, títulos, veredicto, pros, contras, etc.) en ${lang}. Solo las CLAVES del JSON quedan en inglés tal cual se especifican abajo.\n\nALCANCE — SOLO EL PRODUCTO (muy importante): ignora por completo las opiniones sobre envío, empaque, embalaje, protección de la caja, demoras, atención o trato del vendedor, garantía o devoluciones. Eso es logística de Mercado Libre / del vendedor, NO del producto. Analiza ÚNICAMENTE atributos intrínsecos del producto (pantalla, batería, rendimiento, audio, construcción, ergonomía, software, conectividad, etc.). NO generes pros, contras, sub_scores ni opiniones_destacadas sobre logística, empaque o vendedor.\n\nREGLAS DE ESTILO (obligatorias):\n- PROHIBIDO el lenguaje de folleto: nada de \"deslumbrante\", \"joya de la corona\", \"revolucionario\", \"arsenal de mejoras\". Escribe como alguien que ya lo usó.\n- Apóyate en las FUENTES, pero PARAFRASEA SIEMPRE. PROHIBIDO copiar frases textuales de las opiniones de compradores o de las transcripciones (derechos de terceros). Reescribe cada idea con tus propias palabras; nada de comillas con texto literal ajeno.\n- REGLA DURA para el articulo_html: JAMÁS pongas entre comillas (\" \") frases dichas por compradores. Ejemplo: si un comprador dijo \"no es más potente ni en procesamiento ni gráficamente\", vos escribís: los compradores advierten que el rendimiento es idéntico al modelo anterior. Reformulá con sinónimos y estructura propia. (La descripción del FABRICANTE sí la podés citar.)\n- Atribución: a los videos cítalos por canal (\"según [canal]...\"); a los compradores SIEMPRE de forma agregada (\"los compradores coinciden en...\", \"varios mencionan...\"), sin reproducir su redacción original.\n- Los CONTRAS deben ser concretos y reales, extraídos de las fuentes. NO los suavices.\n- NUNCA inventes cifras de laboratorio (horas exactas de batería, nits, dB) que no estén en las fuentes. Si no hay dato medido, habla cualitativamente.\n- Si las opiniones disponibles son todas positivas, dilo explícitamente; no finjas un balance que no tienes.\n\nDATOS DEL PRODUCTO:\nNOMBRE: ${nombre}\nDESCRIPCIÓN DEL FABRICANTE (trátala como marketing, con escepticismo): ${descripcion}\nCARACTERÍSTICAS: ${caracteristicas}\n\nFUENTES REALES (priorízalas por encima del marketing):\nOPINIONES DE COMPRADORES VERIFICADOS: ${opiniones}\n\nANÁLISIS EN VIDEO DE CREADORES INDEPENDIENTES:\nINSTRUCCION CRITICA SOBRE LOS VIDEOS: Compara el titulo de cada video con el nombre del producto que estas analizando. Si algún video es de un modelo SIMILAR pero NO exactamente el mismo (ej: el producto es \"VivoBook 16 Ultra 5 X1607CA\" pero el video es de un \"VivoBook 15\" o \"VivoBook S16\"), DEBES mencionarlo claramente en el articulo, por ejemplo: \"Las reseñas en video disponibles corresponden a modelos similares de la línea [Línea] — las conclusiones son orientativas pero pueden variar respecto a este modelo específico.\" Si los videos SÍ son del modelo exacto, no hace falta aclararlo.\n${bloqueVideos}\n\nESTRUCTURA DEL ARTÍCULO (~800 palabras, markdown): 1) Veredicto rápido honesto, 2) Qué es y qué cambió (compara vs. el modelo anterior si las fuentes lo mencionan), 3) Lo bueno con evidencia, 4) Lo malo / a tener en cuenta concreto, 5) Para quién sí / para quién no, 6) Conclusión con CTA para comprar en Mercado Libre.\n\nFORMATO DEL ARTICULO (articulo_html): USA HTML LIMPIO EXCLUSIVAMENTE. NUNCA uses markdown (ni ##, ni **, ni * para listas, ni guiones de lista). Los titulos de seccion van en <h2>. Los sub-titulos en <h3>. Parrafos en <p>. Listas en <ul><li>. Negritas en <strong>. Cursivas en <em>. CRITICO: jamas escribas un titulo de seccion como texto plano dentro de un <p>; siempre usa <h2> o <h3>.\n\nINSTRUCCIONES DE FORMATO - MUY IMPORTANTE:\nResponde UNICAMENTE con un objeto JSON valido. Sin texto antes ni despues. Sin bloques markdown. Estructura exacta:\n\n{\"editorial_score\": <0-10 con un decimal>, \"score_justificacion\": \"<1 frase con evidencia>\", \"sub_scores\": [{\"dimension\": \"<ej: Pantalla>\", \"score\": <0-10>, \"justificacion\": \"<1 frase citando evidencia>\"}], \"veredicto_corto\": \"<2-3 frases para alguien con prisa>\", \"compralo_si\": [\"<max 8 palabras>\",\"<...>\",\"<...>\"], \"saltatelo_si\": [\"<max 8 palabras>\",\"<...>\"], \"pros\": [\"<concreto y verificable>\"], \"contras\": [\"<concreto, de las fuentes>\"], \"fuentes_citadas\": [{\"tipo\":\"<video|compradores>\",\"autor\":\"<canal o 'compradores ML'>\",\"aporte\":\"<que aporto>\"}], \"opiniones_destacadas\": [{\"aspecto\":\"<tema corto>\",\"resumen\":\"<parafraseo con TUS palabras, sin texto literal>\",\"sentimiento\":\"<positivo|negativo|mixto>\"}], \"seo_title\": \"<50-60 caracteres>\", \"seo_description\": \"<140-155 caracteres>\", \"articulo_html\": \"<articulo completo con \\\\n escapados>\"}\n\nREGLA CRITICA sub_scores: asigna una dimension SOLO si las fuentes te dan evidencia real. Cada una lleva justificacion citando la evidencia. Si no hay evidencia, OMITE la dimension, no la inventes.\n\nOPINIONES DESTACADAS: genera 3-5 en \"opiniones_destacadas\", PARAFRASEADAS con tus propias palabras (NUNCA texto literal del comprador). Mezcla positivas y criticas (incluye al menos una negativa si existe). Cada una: aspecto (tema corto), resumen (1-2 frases tuyas), sentimiento (positivo|negativo|mixto).\n\nPREGUNTAS FRECUENTES (FAQ): tienes disponibles las siguientes preguntas reales de compradores en ML:\n${preguntasML || '(sin preguntas disponibles)'}\n\nBasándote en esas preguntas Y en las opiniones de compradores y los videos disponibles, genera entre 3 y 5 FAQ que respondan las dudas reales que tiene un comprador serio antes de comprar. Elige preguntas sobre rendimiento, compatibilidad, durabilidad, relación precio-calidad o casos de uso específicos. IGNORA preguntas de logística, envío, garantía del vendedor, colores disponibles o disponibilidad de stock. Si no hay evidencia suficiente para responder una pregunta con honestidad, no la incluyas. Campo \"faq\": array de objetos con \"pregunta\" y \"respuesta\".\n\nANÁLISIS PRECIO-VALOR: en el campo \"precio_valor\", escribe 2-3 frases respondiendo directamente \"¿Vale la pena a este precio?\". Compara lo que ofrece el producto con lo que cuesta. Sé directo: si es caro para lo que da, dilo claramente. Si es buen valor, justifícalo con evidencia concreta de las fuentes. No menciones el precio exacto (puede variar), habla en términos relativos (caro, accesible, competitivo, etc.).\n\nALTERNATIVAS EDITORIALES: los siguientes productos aparecen en ML en rango de precio similar:\n${similaresMl || '(sin datos de competencia)'}\n\nUsando esa referencia, en el campo \"alternativas\", sugiere exactamente 2 opciones sin inventar marcas o modelos específicos:\n- Primera: tipo \"Opción más económica\" — describe qué tipo de producto buscar con menor presupuesto y qué se sacrifica respecto a este modelo.\n- Segunda: tipo \"Opción premium\" — describe qué se gana gastando más y en qué situaciones vale la pena el gasto extra.`;\n\n// OpenAI-compatible JSON Schema v3 — Abacus RouteLLM (claude-sonnet-4-6)\nconst jsonSchema = {\n  type: \"object\",\n  properties: {\n    editorial_score:     { type: \"number\" },\n    score_justificacion: { type: \"string\" },\n    sub_scores: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { dimension:{type:\"string\"}, score:{type:\"number\"}, justificacion:{type:\"string\"} },\n        required: [\"dimension\",\"score\",\"justificacion\"],\n        additionalProperties: false\n      }\n    },\n    veredicto_corto: { type: \"string\" },\n    compralo_si:     { type: \"array\", items: { type: \"string\" } },\n    saltatelo_si:    { type: \"array\", items: { type: \"string\" } },\n    pros:            { type: \"array\", items: { type: \"string\" } },\n    contras:         { type: \"array\", items: { type: \"string\" } },\n    fuentes_citadas: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { tipo:{type:\"string\"}, autor:{type:\"string\"}, aporte:{type:\"string\"} },\n        required: [\"tipo\",\"autor\",\"aporte\"],\n        additionalProperties: false\n      }\n    },\n    opiniones_destacadas: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { aspecto:{type:\"string\"}, resumen:{type:\"string\"}, sentimiento:{type:\"string\"} },\n        required: [\"aspecto\",\"resumen\",\"sentimiento\"],\n        additionalProperties: false\n      }\n    },\n    faq: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { pregunta:{type:\"string\"}, respuesta:{type:\"string\"} },\n        required: [\"pregunta\",\"respuesta\"],\n        additionalProperties: false\n      }\n    },\n    precio_valor: { type: \"string\" },\n    alternativas: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { tipo:{type:\"string\"}, descripcion:{type:\"string\"} },\n        required: [\"tipo\",\"descripcion\"],\n        additionalProperties: false\n      }\n    },\n    seo_title:       { type: \"string\" },\n    seo_description: { type: \"string\" },\n    articulo_html:   { type: \"string\" }\n  },\n  required: [\n    \"editorial_score\",\"score_justificacion\",\"sub_scores\",\"veredicto_corto\",\n    \"compralo_si\",\"saltatelo_si\",\"pros\",\"contras\",\"fuentes_citadas\",\n    \"opiniones_destacadas\",\"faq\",\"precio_valor\",\"alternativas\",\n    \"seo_title\",\"seo_description\",\"articulo_html\"\n  ],\n  additionalProperties: false\n};\n\nreturn [{\n  json: {\n    body: JSON.stringify({\n      model: \"claude-sonnet-4-6\",\n      messages: [{ role: \"user\", content: prompt }],\n      temperature: 0.2,\n      response_format: {\n        type: \"json_schema\",\n        json_schema: { name: \"review_output\", strict: true, schema: jsonSchema }\n      }\n    })\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          -256
        ],
        "id": "944acde7-4624-4ddd-96f5-a8e11898b46d",
        "name": "Build Gemini Prompt"
      },
      {
        "parameters": {
          "jsCode": "// Gemini ya emite articulo_html directamente. Solo desescapamos y limpiamos.\nlet html = ($('Parse Gemini JSON').first().json.articulo_html || '').toString();\nhtml = html.replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '').trim();\n// Sacar h2/h3 que Gemini metio dentro de un p\nhtml = html\n  .replace(/<p>\\s*(<h[1-6][^>]*>)/gi, '$1')\n  .replace(/(<\\/h[1-6]>)\\s*<\\/p>/gi, '$1');\nreturn [{ json: { html } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          0
        ],
        "id": "5c4db5a2-8e2b-4fe3-959d-afd9e968ff15",
        "name": "Convert to HTML"
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json.choices[0].message.content;\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  throw new Error('Abacus parse error: ' + e.message + ' | Raw: ' + raw.substring(0, 200));\n}\nreturn [{ json: parsed }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          944,
          0
        ],
        "id": "bea74d95-9d2c-4ff5-a3c9-40e17b6d4851",
        "name": "Parse Gemini JSON"
      },
      {
        "parameters": {
          "jsCode": "const item = $('Get Data ML').first().json;\nconst parsedGemini = $('Parse Gemini JSON').first().json;\nconst htmlNode = $('Convert to HTML').first().json;\nconst bestSeller = $('Pick Best Seller').first().json;\nconst reviews = $('Get Reviews ML').first().json;\nconst videos = $('Top videos').first().json.items;\n\n// Precio\nlet precioActual = null, precioOriginal = null, descuentoPct = 0, garantia = null, envioGratis = false;\ntry {\n  const sellers = $('Get Item Sellers').first().json.results;\n  const sellerItem = sellers.find(s => s.item_id === bestSeller.item_id) || sellers[0];\n  precioActual = sellerItem.price;\n  precioOriginal = sellerItem.original_price || sellerItem.price;\n  descuentoPct = precioOriginal > precioActual ? Math.round((1 - precioActual / precioOriginal) * 100) : 0;\n  garantia = sellerItem.warranty;\n  envioGratis = sellerItem.shipping?.free_shipping || false;\n} catch(e) {}\n\n// Specs\nconst specs = {};\nfor (const attr of item.attributes) specs[attr.name] = attr.value_name;\n\n// ?? SLUG LIMPIO ????????????????????????????????????????????????????????????\n// Usa Marca + Modelo (si es texto, no c?digo) + L?nea + Submodelo\n// Evita specs num?ricas, colores, condiciones y palabras gen?ricas del nombre\nconst getAttr = (n) => (item.attributes.find(a => a.name === n) || {}).value_name || '';\nconst slugify = (s) => (s || '').toLowerCase()\n  .normalize('NFD').replace(/[̀-ͯ]/g, '')\n  .replace(/[^a-z0-9\\s]/g, '').trim()\n  .replace(/\\s+/g, '-');\n// Detecta c?digos alfanum?ricos de modelo (ej: X1607CA, 890101-0100)\n// Sin flag 'i' para que \"Switch\", \"OLED\", \"Ultra\" no sean tratados como c?digos\nconst isCode = (s) => Boolean(s && ((/\\d/.test(s) && /-/.test(s)) || /^[A-Z0-9]{5,}$/.test(s)));\nconst isMeaningful = (s) => Boolean(s && s.length > 2 && !/^\\d+$/.test(s) && !isCode(s));\n\nconst marca     = getAttr('Marca');\nconst modelo    = getAttr('Modelo');\nconst submodelo = getAttr('Submodelo');\nconst linea     = getAttr('L?nea');\n\nconst slugParts = [marca];\n\n// Modelo solo si es texto legible (Switch, Pro, Air...) no un c?digo alfanum?rico\nif (isMeaningful(modelo) && slugify(modelo) !== slugify(marca)) {\n  slugParts.push(modelo);\n}\n\n// L?nea: primeras 2 palabras significativas (sin \"Generaci?n\", \"Gen\")\nif (linea) {\n  const cleanWords = linea.split(/\\s+/)\n    .filter(w => isMeaningful(w) && !/^(generaci[o?]n|gen)$/i.test(w))\n    .slice(0, 2);\n  slugParts.push(...cleanWords);\n}\n\n// Submodelo si es legible (OLED, Pro, Air, Ultra...) no un c?digo\nif (isMeaningful(submodelo) && !isCode(submodelo)) {\n  slugParts.push(submodelo);\n}\n\n// Si sigue siendo muy corto, agregar palabras clave del nombre del producto\nconst noiseWords = new Set([\n  'laptop','notebook','consola','audifonos','auriculares','headphones',\n  'con','y','de','la','el','para','un','una','los','las',\n  'gb','tb','ssd','hdd','ram','mhz','ghz','fps','hz',\n  'nuevo','reacondicionado','excelente','bueno','muy',\n  'negro','blanco','rojo','azul','dorado','plateado','neon','silver','gold',\n  'mochila','mouse','incluye','incluido','kit','combo',\n  'inalambrico','bluetooth','wifi','usb','hdmi','type',\n  'gen','generacion','edicion','edition','series','version',\n  'gaming','gamer','pro','plus','max','mini','lite','air',\n  'ultrabook','slim','thin','portable',\n]);\n\nif (slugParts.filter(Boolean).length < 3) {\n  const nameWords = item.name.toLowerCase()\n    .normalize('NFD').replace(/[̀-ͯ]/g, '')\n    .replace(/[^a-z0-9\\s]/g, '').split(/\\s+/)\n    .filter(w => w.length > 2 && !/^\\d/.test(w) && !noiseWords.has(w));\n\n  // Separar \"switch-2\" en [\"switch\",\"2\"] para detectar duplicados correctamente\n  const existing = new Set(slugParts.map(p => slugify(p)).flatMap(s => s.split('-')).filter(Boolean));\n  for (const w of nameWords) {\n    if (!existing.has(w) && slugParts.length < 5) {\n      slugParts.push(w);\n      existing.add(w);\n    }\n  }\n}\n\nconst slug = slugParts\n  .filter(Boolean)\n  .map(slugify)\n  .join('-')\n  .replace(/-+/g, '-')\n  .slice(0, 60);\n\n// ?? OPINIONES DESTACADAS ???????????????????????????????????????????????????\n// Solo mostrar si hay reviews reales de compradores en ML.\n// Si no hay (total=0), Gemini las inventa de los videos ? misleading ? vaciar.\nconst totalReviews = reviews.paging.total;\nconst reviewsDestacadas = totalReviews > 0\n  ? (parsedGemini.opiniones_destacadas || []).map(o => ({\n      titulo:     o.aspecto,\n      contenido:  o.resumen,\n      sentimiento: o.sentimiento || 'mixto',\n    }))\n  : [];\n\n// Videos\nconst videosYT = videos.map(v => ({\n  video_id:  v.id.videoId,\n  titulo:    v.snippet.title,\n  canal:     v.snippet.channelTitle,\n  url:       `https://www.youtube.com/watch?v=${v.id.videoId}`,\n  thumbnail: v.snippet.thumbnails.high.url,\n  publicado: v.snippet.publishedAt.split('T')[0],\n  vistas:    parseInt(v.statistics?.viewCount || '0', 10),\n}));\n\nconst numVids = $('Transcripciones').first().json.num_videos_con_transcripcion;\n\nreturn [{ json: {\n  meta: {\n    producto_id: item.id,\n    slug,\n    categoria: item.domain_id,\n    generado_en: new Date().toISOString(),\n  },\n  producto: {\n    nombre:   item.name,\n    marca:    specs['Marca'] || null,\n    modelo:   specs['Modelo'] || null,\n    descripcion: item.short_description.content,\n    caracteristicas_principales: item.main_features.map(f => f.text.trim()),\n    specs,\n    imagenes: item.pictures.map(p => p.url),\n  },\n  precio: {\n    actual:        precioActual,\n    original:      precioOriginal,\n    descuento_pct: descuentoPct,\n    moneda:        'MXN',\n    envio_gratis:  envioGratis,\n    garantia,\n  },\n  vendedor: {\n    item_id:      bestSeller.item_id,\n    nombre:       bestSeller.nickname,\n    reputacion:   bestSeller.seller_reputation?.level_id || null,\n    power_seller: bestSeller.seller_reputation?.power_seller_status || null,\n    transacciones: bestSeller.seller_reputation?.transactions?.total || null,\n  },\n  link_afiliado: ($('Route Row').first().json.referido || null),\n  reviews_ml: {\n    total:                totalReviews,\n    con_comentario:       reviews.paging.reviews_with_comment,\n    calificacion_promedio: reviews.rating_average,\n    destacadas:           reviewsDestacadas,\n  },\n  videos_yt: videosYT,\n  editorial: {\n    score:             parsedGemini.editorial_score,\n    score_justificacion: parsedGemini.score_justificacion || null,\n    sub_scores:        parsedGemini.sub_scores || [],\n    veredicto_corto:   parsedGemini.veredicto_corto || parsedGemini.seo_description,\n    compralo_si:       parsedGemini.compralo_si || [],\n    saltatelo_si:      parsedGemini.saltatelo_si || [],\n    pros:              parsedGemini.pros || [],\n    contras:           parsedGemini.contras || [],\n    fuentes_citadas:   parsedGemini.fuentes_citadas || [],\n    faq:           parsedGemini.faq || [],\n    precio_valor:  parsedGemini.precio_valor || null,\n    alternativas:  parsedGemini.alternativas || [],\n    seo_title:         parsedGemini.seo_title,\n    seo_description:   parsedGemini.seo_description,\n    articulo_html:     htmlNode.html,\n  },\n  productos_similares_ml: (() => {\n    try {\n      const currentId = $('Get Data ML').first().json.id;\n      return ($('Get Similar Products').first().json.results || [])\n        .filter(it => it.id !== currentId && it.title && it.price)\n        .slice(0, 5)\n        .map(it => ({\n          id:             it.id,\n          titulo:         it.title,\n          precio:         it.price,\n          precio_original: it.original_price || it.price,\n          thumbnail:      it.thumbnail ? it.thumbnail.replace('http://', 'https://') : null,\n          permalink:      it.permalink,\n          envio_gratis:   it.shipping?.free_shipping || false,\n        }));\n    } catch(e) { return []; }\n  })(),\n  autoria: {\n    nombre:    'Hito Flores',\n    tagline:   'An?lisis independiente de productos en Mercado Libre M?xico',\n    metodologia: (() => {\n      // Detectar si los videos son del modelo exacto o de modelos similares\n      const prodTokens = [getAttr('Submodelo'), modelo, linea.split(' ')[0]]\n        .filter(t => t && t.length > 2 && !isCode(t))\n        .map(t => t.toLowerCase());\n      const esSimilar = videosYT.length > 0 && prodTokens.length > 0 &&\n        !videosYT.some(v => prodTokens.some(t => v.titulo.toLowerCase().includes(t)));\n      const lineaCorta = [marca, linea.split(' ').slice(0,2).join(' ')].filter(Boolean).join(' ').trim();\n      return esSimilar\n        ? `Este an?lisis sintetiza ${numVids} rese?as de modelos similares de la l?nea ${lineaCorta} y ${totalReviews} opiniones de compradores verificados de Mercado Libre.`\n        : `Este an?lisis sintetiza ${numVids} rese?as en video de creadores independientes y ${totalReviews} opiniones de compradores verificados de Mercado Libre.`;\n    })(),\n    actualizado: new Date().toISOString().slice(0, 10),\n  },\n}}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          0
        ],
        "id": "df9c2a23-3d8a-4abf-aad4-fd07971aeeaf",
        "name": "Build Final JSON"
      },
      {
        "parameters": {
          "url": "=https://api.github.com/repos/HitoFlores/AfiliadosML/contents/data/{{$json.meta.slug}}.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
              },
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              },
              {
                "name": "X-GitHub-Api-Version",
                "value": "2022-11-28"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          944,
          224
        ],
        "id": "6a6e0ca3-588f-4dbf-ace2-afbf6028abac",
        "name": "GitHub GET SHA",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const data = $('Build Final JSON').first().json;\nconst sha = $('GitHub GET SHA').first().json?.sha || undefined;\nconst content = Buffer.from(JSON.stringify(data, null, 2)).toString('base64');\n\nconst body = { message: `feat: review ${data.meta.slug}`, content };\nif (sha) body.sha = sha;\n\nconst result = await this.helpers.httpRequest({\n  method: 'PUT',\n  url: `https://api.github.com/repos/HitoFlores/AfiliadosML/contents/data/${data.meta.slug}.json`,\n  headers: {\n    'Authorization': 'Bearer ' + $env.GITHUB_TOKEN,\n    'Accept': 'application/vnd.github+json',\n    'X-GitHub-Api-Version': '2022-11-28',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify(body)\n});\n\nreturn [{ json: result }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          224
        ],
        "id": "920e6f4f-ac8e-45f6-98ea-7b35b4ce6d8f",
        "name": "Prepare GitHub Payload"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.github.com/repos/HitoFlores/AfiliadosML/contents/data/{{$json.slug}}.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              },
              {
                "name": "X-GitHub-Api-Version",
                "value": "2022-11-28"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "=={{$json.message}}"
              },
              {
                "name": "content",
                "value": "=={{$json.content}}"
              },
              {
                "name": "sha",
                "value": "=={{$json.sha}}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1600,
          672
        ],
        "id": "2c920a60-9e39-456a-a029-aede9c38f69d",
        "name": "GitHub Commit JSON",
        "credentials": {
          "httpHeaderAuth": {
            "id": "3eYPnNCiPrpr5Qw9",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Top videos v2: marca requerida + prioriza reviews reales sobre gameplay/tests destructivos\nconst API_KEY = $env.YOUTUBE_API_KEY;\n\nconst attrs = $('Get Data ML').first().json.attributes || [];\nconst getAttr = (n) => (attrs.find((a) => a.name === n) || {}).value_name || '';\n\nconst marca     = getAttr('Marca').toLowerCase().trim();\nconst submodelo = getAttr('Submodelo').toLowerCase().trim();\nconst modelo    = getAttr('Modelo').toLowerCase().trim();\nconst linea     = getAttr('Linea')\n  .replace(/Generacion/gi, '').replace(/Gen/gi, '').replace(/\\d+/g, '').toLowerCase().trim();\n\nconst isCode = (s) => Boolean(s && s.match(/\\d/) && s.match(/-/));\n\nconst relevanceTokens = [\n  submodelo && !isCode(submodelo) ? submodelo : null,\n  !isCode(modelo) && modelo !== marca ? modelo.split(' ')[0] : null,\n  linea ? linea.split(/\\s+/).find(w => w.length > 2) || null : null,\n].filter(Boolean);\n\nconst search = $('Get Videos YT').first().json.items || [];\n\n// Terminos que indican review/analisis real (el tipo de contenido que queremos)\nconst REVIEW_TERMS = [\n  'review', 'analisis', 'an?lisis', 'rese?a', 'resena',\n  'vale la pena', 'hands on', 'comparativa', 'comparacion', 'comparaci?n',\n  'opinion', 'opini?n', 'should you buy', 'is it worth', 'first look',\n  'unboxing', 'vs ', ' vs', 'overview', 'prueba', 'test de',\n];\n\n// Terminos que indican contenido NO-review (gameplay, tests destructivos, entretenimiento)\nconst NON_REVIEW_TERMS = [\n  'gameplay', 'playthrough', \"let's play\", 'lets play',\n  'scratch test', 'drop test', 'bend test', 'durability test',\n  'teardown', 'tear down', 'disassembly', 'water test',\n  'torture test', 'speed test', 'speed run',\n  'relaxing', 'asmr', 'satisfying', 'satisfaccion',\n  'partida', 'walkthrough', 'longplay', 'full game',\n  'highlights', 'shorts',\n];\n\nconst scored = search.map((v) => {\n  const title   = (v.snippet.title || '').toLowerCase();\n  const fullTxt = title + ' ' + (v.snippet.description || '').toLowerCase();\n\n  // La marca DEBE aparecer en titulo o descripcion\n  if (!fullTxt.includes(marca)) return null;\n\n  // +N por tokens del producto en el titulo\n  const productBonus = relevanceTokens.filter(t => title.includes(t)).length;\n\n  // +2 si el titulo contiene terminos de review real\n  // -2 si contiene terminos de contenido no-review\n  const isReview    = REVIEW_TERMS.some(t => title.includes(t));\n  const isNonReview = NON_REVIEW_TERMS.some(t => title.includes(t));\n  const reviewBonus = isReview ? 2 : (isNonReview ? -2 : 0);\n\n  return {\n    ...v,\n    _relevance:   productBonus,\n    _reviewBonus: reviewBonus,\n    _total:       productBonus + reviewBonus,\n  };\n}).filter(Boolean);\n\n// Fallback si ningun video menciona la marca\nconst pool = scored.length\n  ? scored\n  : search.map(v => ({ ...v, _relevance: 0, _reviewBonus: 0, _total: 0 }));\n\nconst ids = pool.map((v) => v.id && v.id.videoId).filter(Boolean);\nconst stats = {};\nif (ids.length) {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://www.googleapis.com/youtube/v3/videos',\n    qs: { part: 'statistics', id: ids.join(','), key: API_KEY },\n    json: true,\n  });\n  for (const it of (res.items || [])) stats[it.id] = it.statistics || {};\n}\n\nconst ranked = pool\n  .map((v) => {\n    const st = stats[v.id.videoId] || {};\n    return { ...v, statistics: st, _views: parseInt(st.viewCount || '0', 10) };\n  })\n  .sort((a, b) => {\n    // 1ro: score total (relevancia de producto + bonus review)\n    // 2do: vistas (solo como desempate entre videos del mismo score)\n    if (b._total !== a._total) return b._total - a._total;\n    return b._views - a._views;\n  })\n  .slice(0, 3);\n\nreturn [{ json: { items: ranked } }];\n"
        },
        "id": "a01a178f-2b8e-4c29-b1c3-d502892c1cea",
        "name": "Top videos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1376,
          -528
        ]
      },
      {
        "parameters": {
          "jsCode": "// Transcripciones - baja los subt?tulos de los top videos v?a Supadata\nconst API_KEY = $env.SUPADATA_API_KEY; // variable de entorno (no hardcodeada)\nconst videos = $('Top videos').first().json.items || [];\n\nconst partes = [];\nlet conTranscripcion = 0;\n\nfor (let i = 0; i < videos.length; i++) {\n  const v = videos[i].snippet || {};\n  const id = videos[i].id.videoId;\n  let transcript = '';\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://api.supadata.ai/v1/youtube/transcript',\n      qs: { videoId: id, text: 'true', lang: 'es' },\n      headers: { 'x-api-key': API_KEY },\n      json: true,\n    });\n    transcript = (res.content || '').toString().slice(0, 6000); // cap tokens\n  } catch (e) {\n    transcript = ''; // sin subt?tulos -> seguimos sin romper\n  }\n  if (transcript) conTranscripcion++;\n  const cuerpo = transcript\n    ? transcript\n    : `(sin transcripci?n disponible) Descripci?n: ${v.description || 'n/d'}`;\n  partes.push(\n    `VIDEO ${i + 1}\\nCANAL: ${v.channelTitle}\\nT?TULO: ${v.title}\\nCONTENIDO: ${cuerpo}`\n  );\n}\n\nreturn [{ json: {\n  bloque_videos: partes.join('\\n\\n---\\n\\n'),\n  num_videos_con_transcripcion: conTranscripcion\n}}];\n"
        },
        "id": "e31225ab-a47d-494a-b183-3302cf106b41",
        "name": "Transcripciones",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          944,
          -256
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
            "mode": "list",
            "cachedResultName": "Reviews ML",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1072849850,
            "mode": "list",
            "cachedResultName": "articulos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=1072849850"
          },
          "options": {}
        },
        "id": "2da8f139-0fad-4ae0-ba13-e55892ac73b4",
        "name": "Get Queue",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -96,
          -256
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "mczXnfHtxMCtnhKP",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Route Row: elige la fila a procesar.\n// Si el articulo es meli.la/xxx, resuelve el link social de ML para extraer el MLM catalog ID.\nconst rows = $('Get Queue').all().map((i) => i.json);\nconst norm = (s) => (s || '').toString().trim().toLowerCase();\n\nconst pick =\n  rows.find((r) => norm(r.estatus) === 'ready') ||\n  rows.find((r) => norm(r.estatus) === 'pending');\n\nif (!pick) return [];\n\nlet link    = (pick.articulo || '').toString();\nlet product_id = '';\n\n// ?? Caso 1: link corto meli.la ? resolver pagina social de ML ??????????????\nif (link.includes('meli.la/')) {\n  try {\n    // Paso 1: seguir el redirect de meli.la ? llega a /social/rulloco?...\n    const r1 = await this.helpers.httpRequest({\n      method: 'GET', url: link,\n      followRedirects: true, returnFullResponse: true, ignoreResponseCode: true,\n    });\n    const socialUrl = r1.requestOptions?.uri?.href || link;\n\n    // Paso 2: si llego a /social/..., bajar la pagina y extraer el primer MLM ID\n    if (socialUrl.includes('mercadolibre')) {\n      const r2 = await this.helpers.httpRequest({\n        method: 'GET', url: socialUrl,\n        followRedirects: true, ignoreResponseCode: true,\n      });\n      const html = typeof r2 === 'string' ? r2 : JSON.stringify(r2);\n\n      // El primer MLM ID en el HTML es el producto destacado (featured card)\n      const firstMlm = html.match(/MLM[0-9]{6,}/);\n      if (firstMlm) {\n        product_id = firstMlm[0].toUpperCase();\n        link = 'https://www.mercadolibre.com.mx/p/' + product_id;\n      }\n    }\n  } catch(e) {\n    // Si falla la resolucion, product_id queda vacio y el pipeline lo manejara\n  }\n}\n\n// ?? Caso 2: link directo con MLM en la URL ??????????????????????????????????\nif (!product_id) {\n  const m = link.match(/\\/p\\/(ML[A-Z]?[0-9]+)/i) || link.match(/(ML[A-Z][0-9]{6,})/i);\n  product_id = m ? m[1].toUpperCase() : '';\n}\n\nconst estatus = norm(pick.estatus);\nreturn [{\n  json: {\n    _pass:      estatus === 'ready' ? 'pass2' : 'pass1',\n    row_number: pick.row_number,\n    product_id,\n    articulo:   link,\n    referido:   (pick.referido || '').toString(),\n    idioma:     ((pick.idioma || 'es').toString().trim() || 'es').toLowerCase(),\n  },\n}];"
        },
        "id": "df7197c7-f52f-48a6-a7cf-b9361b8b409d",
        "name": "Route Row",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          144,
          -256
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
            "mode": "list",
            "cachedResultName": "Reviews ML",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1072849850,
            "mode": "list",
            "cachedResultName": "articulos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=1072849850"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $('Route Row').first().json.row_number }}",
              "estatus": "processing"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "articulo",
                "displayName": "articulo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "referido",
                "displayName": "referido",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "idioma",
                "displayName": "idioma",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "estatus",
                "displayName": "estatus",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "link_sugerido",
                "displayName": "link_sugerido",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "slug",
                "displayName": "slug",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "procesado_en",
                "displayName": "procesado_en",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "error_msg",
                "displayName": "error_msg",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "d16f0804-2ae1-40e1-9686-1c41167a4fd6",
        "name": "Mark Processing",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          384,
          -256
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "mczXnfHtxMCtnhKP",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "40596c3a-a3bc-4e22-887e-16393154e10c",
                "leftValue": "={{ $('Route Row').first().json._pass }}",
                "rightValue": "pass2",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "a80e12a3-ae46-43ca-be86-e06c4c20f339",
        "name": "Pass Switch",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          384,
          224
        ]
      },
      {
        "parameters": {
          "jsCode": "// Pass 1: arma el link del ?tem del mejor vendedor verde para que el due?o\n// genere el referido manualmente.\nconst best = $('Pick Best Seller').first().json;\nconst itemId = (best.item_id || '').toString();\n\n// item_id \"MLM1234567890\" -> URL \"MLM-1234567890\"\nlet link = '';\nif (itemId) {\n  const dashed = itemId.replace(/^(ML[A-Z])/i, '$1-');\n  link = `https://articulo.mercadolibre.com.mx/${dashed}`;\n}\n\nreturn [{\n  json: {\n    link_sugerido: link,\n    vendedor: best.nickname || '',\n    reputacion: best.seller_reputation?.level_id || '',\n  },\n}];\n"
        },
        "id": "eb5fc9ea-0aeb-4fae-86f2-37909fbaba0f",
        "name": "Build Item Link",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -96,
          480
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
            "mode": "list",
            "cachedResultName": "Reviews ML",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1072849850,
            "mode": "list",
            "cachedResultName": "articulos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=1072849850"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $('Route Row').first().json.row_number }}",
              "estatus": "waiting",
              "link_sugerido": "={{ $('Build Item Link').first().json.link_sugerido }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "articulo",
                "displayName": "articulo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "referido",
                "displayName": "referido",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "idioma",
                "displayName": "idioma",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "estatus",
                "displayName": "estatus",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "link_sugerido",
                "displayName": "link_sugerido",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "slug",
                "displayName": "slug",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "procesado_en",
                "displayName": "procesado_en",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "error_msg",
                "displayName": "error_msg",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "8d397d04-d124-4a47-b7c9-b8e64ae38831",
        "name": "Mark Esperando",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          160,
          480
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "mczXnfHtxMCtnhKP",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw",
            "mode": "list",
            "cachedResultName": "Reviews ML",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1072849850,
            "mode": "list",
            "cachedResultName": "articulos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1en3wKvNrJYPJ0oQBrFzH4uHedT3zkA8VMIu2m3wghEw/edit#gid=1072849850"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $('Route Row').first().json.row_number }}",
              "estatus": "done",
              "slug": "={{ $('Build Final JSON').first().json.meta.slug }}",
              "procesado_en": "={{ $now }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "articulo",
                "displayName": "articulo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "referido",
                "displayName": "referido",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "idioma",
                "displayName": "idioma",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "estatus",
                "displayName": "estatus",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "link_sugerido",
                "displayName": "link_sugerido",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "slug",
                "displayName": "slug",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "procesado_en",
                "displayName": "procesado_en",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "error_msg",
                "displayName": "error_msg",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "972a3613-f278-41e8-913a-92c5b72198c6",
        "name": "Mark Done",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1408,
          224
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "mczXnfHtxMCtnhKP",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({\n  chat_id: $env.TELEGRAM_CHAT_ID,\n  text: '?? Encontre el mejor vendedor para:\\n\\n' + $('Get Data ML').first().json.name + '\\n\\nLink del vendedor:\\n' + $('Build Item Link').first().json.link_sugerido + '\\n\\nEntra a ML Partners, genera el link de afiliado para ese vendedor y respondeme con el link ??',\n  reply_markup: { force_reply: true, input_field_placeholder: 'https://meli.la/...' }\n}) }}",
          "options": {}
        },
        "id": "7242a610-9191-4e40-a84b-743e43fc3c11",
        "name": "Notify Esperando",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          384,
          480
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: '\\u2705 Review generada\\n\\n' + $('Build Final JSON').first().json.producto.nombre + '\\nslug: ' + $('Build Final JSON').first().json.meta.slug }) }}",
          "options": {}
        },
        "id": "d46b3eb9-15aa-44f8-a94a-d2303c8f6edc",
        "name": "Notify Done",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          960,
          464
        ]
      },
      {
        "parameters": {},
        "id": "837493c5-7136-41cb-a729-219c6335057c",
        "name": "When called by Poll",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -320,
          -720
        ]
      },
      {
        "id": "55f7d02f-dc17-492c-ae9e-716c3c993542",
        "name": "Get ML Questions",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1168,
          -528
        ],
        "continueOnFail": true,
        "parameters": {
          "url": "=https://api.mercadolibre.com/questions/search?item={{ $('Get Data ML').first().json.id }}&status=answered&sort_fields=date_created&sort_types=DESC&limit=12",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "30337b11-7729-41ef-ac42-9e6ad562d625",
        "name": "Get Similar Products",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1392,
          -528
        ],
        "continueOnFail": true,
        "parameters": {
          "url": "=https://api.mercadolibre.com/sites/MLM/search?q={{ encodeURIComponent((($('Get Data ML').first().json.attributes.find(a => a.name === 'Marca') || {}).value_name || '') + ' ' + ($('Get Data ML').first().json.name || '').split(' ').slice(0,2).join(' ')) }}&price={{ Math.round((($('Get Item Sellers').first().json.results || [])[0] || {}).price * 0.75 || 0) }}-{{ Math.round((($('Get Item Sellers').first().json.results || [])[0] || {}).price * 1.35 || 0) }}&sort=relevance&limit=6",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Refresh Token').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get tokens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get tokens": {
        "main": [
          [
            {
              "node": "Refresh Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Put Tokens": {
        "main": [
          [
            {
              "node": "Get Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Refresh Token": {
        "main": [
          [
            {
              "node": "Put Tokens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Item Sellers": {
        "main": [
          [
            {
              "node": "Split Sellers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Sellers": {
        "main": [
          [
            {
              "node": "Get Seller Reputation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Seller Reputation": {
        "main": [
          [
            {
              "node": "Pick Best Seller",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick Best Seller": {
        "main": [
          [
            {
              "node": "Pass Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Reviews ML": {
        "main": [
          [
            {
              "node": "Get Videos YT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Data ML": {
        "main": [
          [
            {
              "node": "Get Item Sellers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Videos YT": {
        "main": [
          [
            {
              "node": "Top videos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Gemini Prompt": {
        "main": [
          [
            {
              "node": "Gemini Generate Article",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Generate Article": {
        "main": [
          [
            {
              "node": "Parse Gemini JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to HTML": {
        "main": [
          [
            {
              "node": "Build Final JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Gemini JSON": {
        "main": [
          [
            {
              "node": "Convert to HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Final JSON": {
        "main": [
          [
            {
              "node": "GitHub GET SHA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub GET SHA": {
        "main": [
          [
            {
              "node": "Prepare GitHub Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare GitHub Payload": {
        "main": [
          [
            {
              "node": "Mark Done",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Top videos": {
        "main": [
          [
            {
              "node": "Transcripciones",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcripciones": {
        "main": [
          [
            {
              "node": "Get ML Questions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Queue": {
        "main": [
          [
            {
              "node": "Route Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Row": {
        "main": [
          [
            {
              "node": "Mark Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Processing": {
        "main": [
          [
            {
              "node": "Get Data ML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pass Switch": {
        "main": [
          [
            {
              "node": "Get Reviews ML",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Item Link",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Item Link": {
        "main": [
          [
            {
              "node": "Mark Esperando",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Esperando": {
        "main": [
          [
            {
              "node": "Notify Esperando",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Done": {
        "main": [
          [
            {
              "node": "Notify Done",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When called by Poll": {
        "main": [
          [
            {
              "node": "Get tokens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get ML Questions": {
        "main": [
          [
            {
              "node": "Get Similar Products",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Similar Products": {
        "main": [
          [
            {
              "node": "Build Gemini Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hito Flores",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-04T04:07:30.822Z",
        "id": 92,
        "workflowId": "iSQ59pcFepjqmBvC",
        "versionId": "81f6a024-3169-46a5-a975-cac74b051f64",
        "event": "activated",
        "userId": "d2ec98b9-a94a-48cf-b0dd-c57f014ded2b"
      },
      {
        "createdAt": "2026-06-04T04:07:30.802Z",
        "id": 91,
        "workflowId": "iSQ59pcFepjqmBvC",
        "versionId": "81f6a024-3169-46a5-a975-cac74b051f64",
        "event": "deactivated",
        "userId": "d2ec98b9-a94a-48cf-b0dd-c57f014ded2b"
      }
    ]
  }
}